# Decision Trees
This notebook is designed to make an initial exploration of decision trees.  It will use the week 3 loan dataset.

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [2]:
loans = pd.read_csv("./lending-club-data.csv", dtype={'next_pymnt_d':str, 'desc':str})

Format the target column to reflect safe as 1 and a risky loan as -1.

In [3]:
loans['target'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans = loans.drop('bad_loans', axis=1)

Split the data in train_raw and test_raw set

In [4]:
train_raw, test_raw = train_test_split(loans, test_size=0.2, random_state=1)

Display the percentage of risky and safe loans.

In [5]:
percent_safe_raw = train_raw[train_raw['target'] == 1].size / (1.0 * train_raw.size) * 100
percent_risky_raw = train_raw[train_raw['target'] == -1].size / (1.0 * train_raw.size) * 100

print('Safe: {0:.2f}%'.format(percent_safe_raw))
print('Risky: {0:.2f}%'.format(percent_risky_raw))
print('Size of training set: {0}'.format(len(train_raw.index)))

Safe: 81.16%
Risky: 18.84%
Size of training set: 98085

In [6]:
train_raw

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,target
55546,4177013,5319360,7000,7000,7000,36 months,9.71,224.92,B,B1,...,1.0,1.0,1.0,1,5.09253,20160701T000000,0,1,0,1
99617,1186081,1427424,5300,5300,5300,36 months,14.65,182.82,C,C2,...,1.0,1.0,1.0,0,6.64800,20150301T000000,1,1,1,1
97495,1248384,1484045,20000,20000,20000,36 months,12.12,665.44,B,B3,...,1.0,1.0,1.0,0,10.37050,20150501T000000,1,1,1,1
113058,14569497,16631810,7200,7200,7200,36 months,7.62,224.37,A,A3,...,1.0,1.0,1.0,0,6.73110,20170501T000000,0,1,1,1
64100,4549473,5801857,9600,9600,9600,36 months,18.49,349.43,D,D2,...,1.0,1.0,1.0,0,11.64770,20160501T000000,1,1,1,-1
34876,278075,277896,12000,12000,6278,36 months,10.39,389.41,B,B4,...,1.0,1.0,1.0,0,15.57640,20110301T000000,0,0,1,1
12026,771835,955426,16000,16000,15975,36 months,5.99,486.68,A,A2,...,1.0,1.0,1.0,0,7.30020,20140601T000000,1,1,1,1
95062,1316475,1562041,9075,9075,9075,36 months,15.31,315.97,C,C3,...,1.0,1.0,1.0,0,8.81777,20150601T000000,0,1,1,1
94876,1322778,1567730,10400,10400,10400,36 months,14.65,358.74,C,C2,...,1.0,1.0,1.0,0,13.66630,20150601T000000,1,1,1,-1
94050,1343885,1588483,10000,10000,10000,36 months,13.99,341.73,C,C1,...,1.0,1.0,1.0,0,10.00190,20150601T000000,1,1,1,1
11602,779840,982605,5000,5000,4975,36 months,14.79,172.82,C,C4,...,0.0,1.0,1.0,0,5.76067,20140601T000000,0,1,1,1
122546,10147873,11999557,28200,28200,28200,36 months,17.57,1013.43,D,D2,...,1.0,1.0,1.0,1,20.26860,20170101T000000,1,1,1,1
87868,1488262,1747275,10000,10000,9975,36 months,18.49,363.99,D,D2,...,1.0,1.0,1.0,0,3.79816,20150901T000000,1,1,1,1
6137,884655,1100107,7200,7200,7175,36 months,7.90,225.29,A,A4,...,1.0,1.0,1.0,1,2.35085,20140901T000000,0,1,1,1
741,1032427,1261865,2250,2250,2250,36 months,13.49,76.35,C,C1,...,1.0,1.0,1.0,0,5.72625,20141201T000000,0,1,1,1
59757,5619588,7001977,18200,18200,18200,60 months,15.31,435.95,C,C2,...,1.0,0.0,1.0,1,5.74879,20180601T000000,1,0,1,1
47286,7484874,9147013,9000,9000,9000,36 months,18.55,327.87,D,D2,...,0.0,1.0,1.0,0,5.24592,20161001T000000,0,1,0,1
29622,462230,578108,3000,3000,3000,36 months,11.83,99.41,B,B3,...,1.0,1.0,1.0,0,2.05676,20121201T000000,1,1,1,1
105201,1056803,1288357,12000,12000,12000,36 months,12.42,400.99,B,B4,...,1.0,1.0,1.0,0,5.06514,20150101T000000,1,1,1,1
36989,379556,406127,5000,5000,4925,36 months,14.11,171.15,D,D1,...,0.0,0.0,1.0,0,4.89000,20120201T000000,0,0,1,1
10519,799345,1004522,35000,35000,21575,60 months,17.99,888.58,E,E1,...,1.0,1.0,1.0,0,9.27214,20160701T000000,0,1,1,1
122146,10121454,11972847,5000,5000,5000,36 months,10.99,163.67,B,B2,...,1.0,1.0,1.0,0,6.13762,20170101T000000,0,1,1,1
18435,642240,822052,23000,23000,21901,36 months,6.54,705.35,A,A4,...,0.0,1.0,1.0,0,9.25656,20140101T000000,0,1,1,1
9582,816557,1024311,5000,5000,5000,36 months,16.49,177.00,D,D3,...,1.0,1.0,1.0,0,3.03429,20140701T000000,1,1,1,1
95108,1311229,1556228,35000,35000,34975,60 months,23.33,993.32,F,F5,...,1.0,1.0,1.0,0,15.92030,20170601T000000,0,1,1,1
32298,409611,460471,20000,20000,14247,36 months,11.58,660.27,B,B3,...,1.0,1.0,1.0,0,8.03150,20120601T000000,1,1,1,-1
69474,3654897,4607052,10000,10000,10000,36 months,6.03,304.36,A,A1,...,1.0,1.0,1.0,0,3.65232,20160301T000000,0,1,1,1
9500,819865,994707,9500,9500,9250,36 months,10.99,310.98,B,B3,...,1.0,1.0,1.0,0,10.04320,20140701T000000,1,1,1,1
32537,401326,443322,6000,6000,5825,36 months,8.00,188.02,A,A3,...,1.0,1.0,1.0,0,4.10225,20120501T000000,1,1,1,1
73735,3235637,3977890,9600,9600,9600,36 months,14.09,328.53,B,B5,...,1.0,1.0,1.0,0,6.19381,20160101T000000,0,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92740,1360095,1604462,6000,6000,6000,36 months,16.29,211.81,C,C5,...,0.0,1.0,1.0,0,2.21019,20150701T000000,0,1,1,1
115250,13326810,15369044,28000,28000,28000,36 months,12.99,943.30,B,B5,...,1.0,1.0,1.0,0,12.57730,20170401T000000,1,1,1,1
88462,1473352,1730751,14825,14825,14825,36 months,20.49,554.66,E,E1,...,1.0,1.0,1.0,0,14.79090,20150801T000000,1,1,1,-1
57245,5945730,7417891,8500,8500,8500,36 months,15.88,298.34,C,C4,...,1.0,0.0,1.0,1,6.75487,20160701T000000,1,0,1,1
103068,1112222,1348892,10000,10000,10000,36 months,8.90,317.54,A,A5,...,1.0,1.0,1.0,1,6.35080,20150101T000000,0,1,1,1
19946,616204,790112,2800,2800,2800,36 months,6.54,85.87,A,A4,...,1.0,1.0,1.0,1,3.43480,20131101T000000,1,1,1,1
8444,839637,1049809,35000,35000,34975,36 months,11.99,1162.34,B,B5,...,1.0,1.0,1.0,0,16.40950,20140801T000000,1,1,1,1
64395,4547272,5799548,23350,23350,23350,36 months,7.62,727.62,A,A3,...,1.0,1.0,1.0,0,13.43300,20160401T000000,1,1,1,1
51668,6738087,8340410,15000,15000,15000,36 months,8.90,476.30,A,A5,...,1.0,1.0,1.0,1,11.52970,20160801T000000,1,1,1,1
35730,601578,771924,5000,5000,4925,36 months,9.62,160.45,B,B3,...,1.0,1.0,1.0,0,3.70269,20131001T000000,0,1,1,1
45413,7945597,9667677,35000,35000,35000,36 months,10.99,1145.69,B,B2,...,1.0,1.0,1.0,0,8.86986,20161001T000000,1,1,1,1
21758,585752,752556,8000,8000,7850,36 months,7.14,247.53,A,A3,...,1.0,1.0,1.0,0,3.55732,20130901T000000,0,1,1,1
120084,11305844,13218003,17000,17000,17000,36 months,12.85,571.57,B,B4,...,1.0,0.0,1.0,1,10.55210,20170101T000000,1,0,0,1
97561,1246591,1488469,35000,35000,35000,36 months,9.76,1125.42,B,B1,...,1.0,1.0,1.0,0,11.74350,20150401T000000,1,1,1,1
36230,501282,644211,4200,4200,3875,36 months,12.73,140.98,C,C1,...,1.0,1.0,1.0,1,3.13289,20130401T000000,1,1,1,1
31228,433014,515376,20000,20000,19504,36 months,11.83,662.68,B,B3,...,1.0,1.0,1.0,0,10.60290,20120901T000000,0,1,1,1
43757,8578319,10340184,13375,13375,13375,60 months,24.99,392.50,F,F4,...,1.0,0.0,1.0,0,6.28000,20181101T000000,0,0,0,1
7751,854716,1066984,7150,7150,7150,36 months,6.99,220.74,A,A3,...,1.0,1.0,1.0,0,4.32824,20140801T000000,1,1,1,1
49100,7052173,8713774,20000,20000,20000,36 months,7.62,623.23,A,A3,...,1.0,1.0,1.0,0,8.69623,20160901T000000,1,1,1,-1
20609,603733,774658,24250,16125,3197,60 months,6.91,318.62,A,A5,...,1.0,1.0,1.0,0,9.10343,20151101T000000,1,1,1,-1
98448,1221074,1462290,17475,17475,17475,60 months,18.55,449.00,D,D4,...,1.0,1.0,1.0,0,15.39430,20170401T000000,0,1,1,-1
21440,583852,750226,24250,24250,23793,60 months,11.49,533.20,B,B4,...,1.0,1.0,1.0,0,6.73516,20151001T000000,1,1,1,-1
117583,12417554,14429694,9250,9250,9250,36 months,18.92,338.70,D,D4,...,1.0,1.0,1.0,0,11.61260,20170301T000000,1,1,1,1
73349,3220271,3963156,16000,16000,16000,36 months,7.62,498.59,A,A3,...,0.0,1.0,1.0,0,5.12750,20160201T000000,0,1,1,1
109259,20750169,23022771,6000,6000,6000,36 months,10.99,196.41,B,B3,...,1.0,1.0,1.0,0,4.49442,20170701T000000,1,1,1,1
50057,6845769,8467927,22000,22000,21975,60 months,9.71,464.31,B,B1,...,1.0,1.0,1.0,0,6.55496,20180901T000000,1,1,1,1
98047,1231665,1472016,7500,7500,7500,36 months,12.12,249.54,B,B3,...,1.0,1.0,1.0,0,3.76693,20150401T000000,0,1,1,1
5192,973467,1195471,22000,22000,21925,36 months,7.51,684.44,A,A3,...,1.0,1.0,1.0,0,14.93320,20141001T000000,1,1,1,1
77708,2371066,2833773,17000,17000,17000,60 months,15.80,411.61,C,C3,...,1.0,1.0,1.0,0,3.65876,20171201T000000,1,1,1,1
98539,1218873,1460030,10000,10000,10000,36 months,15.31,348.18,C,C3,...,1.0,1.0,1.0,0,9.08296,20150401T000000,0,1,1,1

# Effect of Unbalanced data
If there is a class inbalance, there is a chance that it will bias what the majority class will be.  This section explores this concept and shows class imbalance would affect feature selection.

Compute classification error for a feature.

In [14]:
def classification_error(data, feat='', target='output', Verbose=False):
    '''Calculates classification error
    
    Loops through each catagory in the feature and calculates the 
    classification error.  If the feature name is empty, the method
    calculates the classification error of the local root.
    
    Args:
        feat (str): Catagorical variable name or the empty string
        target (str): associated data should be binary
        
    Returns
        float: The classification error.
    '''
    if feat is '': # Root
        num_pos = len(data[data[target] == 1].index)
        num_neg = len(data[data[target] == -1].index)
        if num_pos > num_neg:
            return num_neg / float(len(data.index))
        else:
            return num_pos / float(len(data.index))
    else: # Not the root
        num_error = 0

        bins = data[feat].unique()
        for value in bins.tolist():
            data_in_bin = data[data[feat] == value]
            num_pos = len(data_in_bin[data_in_bin[target] == 1].index)
            num_neg = len(data_in_bin[data_in_bin[target] == -1].index)
            if Verbose:
                print('In feature', value)
                print('Safe: {0:.2f}% with {1} total'.format(num_pos/ float(len(data_in_bin.index)) * 100, num_pos))
                print('Risky: {0:.2f}% with {1} total'.format(num_neg / float(len(data_in_bin.index)) * 100, num_neg))
                print('-------------------')
            if num_pos > num_neg:
                num_error += num_neg
            else:
                num_error += num_pos

        return num_error / float(len(data.index))

For each feature, print the percentage of risky vs safe loans and the classification error for the feature.  Since there is a class imbalance, the classifiction error is the same as the root without any features added even though this is an unlikely senario.

In [16]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
for feature in features:
    print('--------{0}----------'.format(feature))
    print(classification_error(train_raw, feature, 'target', Verbose=True))

--------grade----------
('In feature', 'B')
Safe: 85.38% with 25383 total
Risky: 14.62% with 4346 total
-------------------
('In feature', 'C')
Safe: 79.45% with 19069 total
Risky: 20.55% with 4933 total
-------------------
('In feature', 'A')
Safe: 92.98% with 16631 total
Risky: 7.02% with 1255 total
-------------------
('In feature', 'D')
Safe: 73.20% with 11193 total
Risky: 26.80% with 4098 total
-------------------
('In feature', 'E')
Safe: 68.20% with 4916 total
Risky: 31.80% with 2292 total
-------------------
('In feature', 'F')
Safe: 60.98% with 1896 total
Risky: 39.02% with 1213 total
-------------------
('In feature', 'G')
Safe: 60.00% with 516 total
Risky: 40.00% with 344 total
-------------------
0.188418208697
--------term----------
('In feature', ' 36 months')
Safe: 84.01% with 65733 total
Risky: 15.99% with 12510 total
-------------------
('In feature', ' 60 months')
Safe: 69.91% with 13871 total
Risky: 30.09% with 5971 total
-------------------
0.188418208697
--------home_ownership----------
('In feature', 'RENT')
Safe: 79.07% with 33728 total
Risky: 20.93% with 8928 total
-------------------
('In feature', 'OWN')
Safe: 80.56% with 6354 total
Risky: 19.44% with 1533 total
-------------------
('In feature', 'MORTGAGE')
Safe: 83.15% with 39412 total
Risky: 16.85% with 7988 total
-------------------
('In feature', 'OTHER')
Safe: 77.46% with 110 total
Risky: 22.54% with 32 total
-------------------
0.188418208697
--------emp_length----------
('In feature', 'n/a')
Safe: 73.42% with 2378 total
Risky: 26.58% with 861 total
-------------------
('In feature', '6 years')
Safe: 79.94% with 4891 total
Risky: 20.06% with 1227 total
-------------------
('In feature', '3 years')
Safe: 81.99% with 6768 total
Risky: 18.01% with 1487 total
-------------------
('In feature', '4 years')
Safe: 81.61% with 5573 total
Risky: 18.39% with 1256 total
-------------------
('In feature', '10+ years')
Safe: 81.52% with 22251 total
Risky: 18.48% with 5045 total
-------------------
('In feature', '5 years')
Safe: 81.40% with 6246 total
Risky: 18.60% with 1427 total
-------------------
('In feature', '2 years')
Safe: 82.75% with 7956 total
Risky: 17.25% with 1658 total
-------------------
('In feature', '1 year')
Safe: 81.52% with 5732 total
Risky: 18.48% with 1299 total
-------------------
('In feature', '< 1 year')
Safe: 81.47% with 7217 total
Risky: 18.53% with 1642 total
-------------------
('In feature', '8 years')
Safe: 81.22% with 3455 total
Risky: 18.78% with 799 total
-------------------
('In feature', '9 years')
Safe: 80.46% with 2845 total
Risky: 19.54% with 691 total
-------------------
('In feature', '7 years')
Safe: 79.76% with 4292 total
Risky: 20.24% with 1089 total
-------------------
0.188418208697

We will use a simple method to balance the class.  We will remove rows from the majority class till the classes are balanced.

In [17]:
percentage_to_remove = 1 - (percent_risky_raw / percent_safe_raw)
train_raw_safe = train_raw[train_raw['target'] == 1]

print("Removing {0:.2f}% of the safe set".format(percentage_to_remove*100))

# Ignore the returned test split
train_safe,_ = train_test_split(train_raw_safe, test_size=percentage_to_remove, random_state=1)

# Combine reduced safe set with raw risky set
train = pd.concat([train_safe, train_raw[train_raw['target'] == -1]])

percent_safe = train[train['target'] == 1].size / (1.0 * train.size) * 100
percent_risky = train[train['target'] == -1].size / (1.0 * train.size) * 100

print("Removed {0} items".format(len(train_raw.index)-len(train.index)))
print('Safe: {0:.2f}%'.format(percent_safe))
print('Risky: {0:.2f}%'.format(percent_risky))
print('Size of new training set: {0}'.format(len(train.index)))

Removing 76.78% of the safe set
Removed 61123 items
Safe: 50.00%
Risky: 50.00%
Size of new training set: 36962

Now if we run for classification error again we get better results

In [20]:
for feature in features:
    print('--------{0}----------'.format(feature))
    print(classification_error(train, feature, 'target'))

--------grade----------
0.386829717007
--------term----------
0.423597207943
--------home_ownership----------
0.47251230994
--------emp_length----------
0.485552729831

# Selecting a feature

In [ ]:
def get_class(data, target, value):
    return data[data[target] == value]

In [ ]:
def next_feature(data, features, target):
    '''Performs a single step of feature seletion.
    
    Args:
        data (DataFrame)
        features (array_like): list of features referencing columns in the data
        target (str): name of target column in the data
    
    Note:
        Data target must be a binary catagory where positive is 1 and
        negative is -1.
        
    Todo:
        Add support for non binary classification.
        
    Returns:
        str: The name of feature with the lowest classification error
            or None if the root has the lowest classification error.
    '''

In [ ]:
#get_feature_error(train, 'target', 'target', Verbose=True)